<div class="row">               
                <div class="col-md-12">
                    <h2>Narani Project Details</h2>
                    <p class="lead"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin40">
                    <div id="full-img-slide" class="owl-carousel owl-spaced">
                        <div>
                            <img src="img/showcase-1.jpg" class="img-responsive" alt="">
                        </div><!--testimonials item like paragraph-->
                        <div>
                            <img src="img/showcase-2.jpg" class="img-responsive" alt="">
                        </div><!--testimonials item like paragraph-->
                        <div>
                            <img src="img/showcase-3.jpg" class="img-responsive" alt="">
                        </div><!--testimonials item like paragraph-->
                    </div>
                </div><!--full width image slide end-->
            </div>