<div class="row">
                <div class="col-md-4 margin20">
                    <h4>Little About Project</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus.
                    </p>
                    <p><a href="#" class="btn btn-lg btn-theme-bg">Live Demo</a></p>
                </div>
                <div class="col-md-4 margin20">
                    <h4>Technology</h4> 
                    <p class="lead">HTML5, CSS3, Bootstrap3.2.0</p>
                </div>
                <div class="col-md-4 margin20">
                    <h4>Elsewhere</h4>
                    <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" data-toggle="tooltip" title="" data-original-title="Twitter" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" title="" data-original-title="Google pluse" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" data-toggle="tooltip" title="" data-original-title="Pinterest" data-placement="top"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" title="" data-original-title="Dribbble" data-placement="top"></i></a></li>
                    </ul>
                      <div class="divide30"></div>
                    <h4>Client</h4>
                    <p class="lead">Design_mylife</p>
                </div>
            </div>