<!DOCTYPE html>
<html lang="en">
    {{ partial "portfolio-filter/head.html" . }}
    <body>
        {{ partial "topbar.html" . }}
        <!--navigation -->
        <!-- Static navbar -->
        {{ partial "portfolio-filter/header.html" . }}
        {{ partial "portfolio-filter/heading.html" . }}
         <div class="divide80"></div>
        <div class="container">         
            <div class="row">
                <div class="col-md-12">
                    {{ partial "portfolio-filter/portfolio-nav.html" . }}

                    <div id="grid" class="row">
                        {{ partial "portfolio-filter/item.html" . }}
                        <div class="col-sm-4 margin20 mix wordpress seo">
                            <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-2.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                        <div class="col-sm-4 margin20 mix design html">
                            <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-3.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                        <div class="col-sm-4 margin20 mix html seo">
                            <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-4.jpg" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                         <div class="col-sm-4 margin20 mix wordpress design">
                            <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-5.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                         <div class="col-sm-4 margin20 mix html seo">
                             <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-6.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                         <div class="col-sm-4 margin20 mix design wordpress">
                             <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-7.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                         <div class="col-sm-4 margin20 mix wordpress design">
                            <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-8.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                         <div class="col-sm-4 margin20 mix html seo">
                            <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-10.jpg" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->
                    </div><!--#grid for filter items-->
                </div><!--.col-md-12 of portfolio filter-->
            </div><!--row-->
        </div><!--container-->

        <div class="divide80"></div>
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}

    </body>
</html>
