<li>
                                    <img class="avtar" src="img/team-2.jpg" alt="">
                                    <div class="meta">
                                        <span>Rocky Example</span>, 
                                        <span class="time">2 August 014, 1:01</span>
                                    </div>
                                    <p>
                                        Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.  It enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </li>