<div class="col-md-7 about-us">
                    <h3 class="heading">Little About us</h3>
                    <img src="img/team-3.jpg" class="img-responsive" alt="">
                    <p class="dropcap">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                        Suspendisse sit amet erat volutpat, fermentum massa in, faucibus sem.
                    </p>
                    <p>
                        Duis nisl est, porta eu augue et, tempor congue mauris. Praesent a ligula in urna consectetur rhoncus. Curabitur ut nulla a velit feugiat venenatis. Nulla facilisi. Fusce viverra eu libero non euismod. Aenean in orci facilisis, ornare purus sed, lobortis augue. Cras lacinia felis ac elit elementum posuere. Vestibulum in urna metus. Suspendisse sit amet erat volutpat, fermentum massa in, faucibus sem.
                    </p>
                    <div class="divide30"></div>
                    <blockquote>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                            Suspendisse sit amet erat volutpat, fermentum massa in, faucibus sem.
                        </p>
                    </blockquote>

                </div>