<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="purchase-section wow animated fadeInUp">
                        <div class="row">
                            <div class="col-md-9">
                                <h3>Narani is Modern, Clean and Responsive Layout</h3>
                                <p>
                                    Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="btn btn-lg btn-theme-bg">Purchase Now</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--purchase section-->