<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Latest From Blog</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">
                            <div class="item-img-wrap">
                                <img src="img/work-7.png" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate <span class="text-color">iltricies</span> etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">
                            <div class="item-img-wrap">
                                <img src="img/work-5.png" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                            <p>
                                Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. <span class="text-color">Lorem ipsum dolor</span> sit amet, consectetur.
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
                <div class="col-md-4 margin20">
                    <div class="post-wrap wow animated fadeInLeft">
                        <a href="blog-post.html">
                            <div class="item-img-wrap">
                                <img src="img/work-8.png" class="img-responsive" alt="workimg">
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>                       
                        </a><!--post link--> 
                        <div class="post-desc">
                            <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                            <p>
                                Quisque ligulas ipsum, <span class="text-bg">euismod atras</span> vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                            </p>
                            <p><a href="blog-post.html">Read More...</a></p>
                        </div><!--post-desc-->
                    </div><!-- post wrap-->
                </div>
            </div>
        </div><!--latest news-->
