<section class="parallax process-rounded" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Our Process</h3>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-lightbulb-o"></i>
                            <h4>Create Ideas</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-pencil"></i>
                            <h4>Built Design</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-bars"></i>
                            <h4>Develop Website</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                    <div class="col-md-3 margin20">
                        <div class="process-box">
                            <i class="fa fa-plane"></i>
                            <h4>Project Launch</h4>
                        </div><!--process box-->
                    </div><!--process col-->
                </div>
            </div>
        </section><!--process rounded-->