<section class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading">Recent work</h3>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="work-carousel" class="owl-carousel owl-spaced">
                            <div>
                                <a href="portfolio-single.html">
                                    <div class="item-img-wrap ">
                                        <img src="img/work-1.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-2.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-3.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-5.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-6.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                            <div> 
                                <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-7.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                            </div><!--owl item-->
                        </div>
                    </div>
                </div><!--row-->
                <div class="divide30"></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#" class="btn border-black wow animated fadeInUp"> Load More Projects</a>
                    </div>
                </div>
            </div><!--container-->
        </section><!--recent work section -->