<div class="container">
            <div class="row">
                <div class="col-md-4 margin20">
                    <div class="service-box wow animated fadeInLeft">
                        <h4><i class="fa fa-desktop"></i> Responsive Design</h4>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div><!--service box-->
                </div><!--service-col-->
                <div class="col-md-4 margin20">
                    <div class="service-box wow animated fadeInLeft">
                        <h4><i class="fa fa-image"></i> Parallax Background</h4>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div><!--service box-->
                </div><!--service-col-->
                <div class="col-md-4 margin20">
                    <div class="service-box wow animated fadeInLeft">
                        <h4><i class="fa fa-keyboard-o"></i> Easy to Customize </h4>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div><!--service box-->
                </div><!--service-col-->
            </div><!--row-->
            <div class="divide40"></div>
            <div class="row">
                <div class="col-md-4 margin20">
                    <div class="service-box wow animated fadeInLeft">
                        <h4><i class="fa fa-thumbs-o-up"></i> 24/7 Dedicated Support</h4>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div><!--service box-->
                </div><!--service-col-->
                <div class="col-md-4 margin20">
                    <div class="service-box wow animated fadeInLeft">
                        <h4><i class="fa fa-flag"></i> Font Awesome Icons</h4>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div><!--service box-->
                </div><!--service-col-->
                <div class="col-md-4 margin20">
                    <div class="service-box wow animated fadeInLeft">
                        <h4><i class="fa fa-text-height"></i> Google Fonts </h4>
                        <p>
                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div><!--service box-->
                </div><!--service-col-->
            </div>
        </div><!--services -->