<div class="navbar navbar-default navbar-static-top sticky" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Narani</a>
                </div><!--.navbar header-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="portfolio-filter.html">Portfolio Filter</a></li>
                                <li><a href="portfolio-single.html">Portfolio Single</a></li>
                            </ul>
                        </li><!--.dropdown-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog.html">Blog sidebar</a></li>
                                <li><a href="blog-post.html">Blog - post</a></li>
                            </ul>
                        </li><!--.dropdown-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="side-nav.html">Side Navigation</a></li>
                                <li><a href="blank-page.html">Blank Page</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="team.html">Our Team</a></li>
                                <li><a href="pricing.html">Our Pricing</a></li>
                                <li><a href="faq.html">FAQS</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="login-register.html">Login / Register</a></li>
                                <li><a href="error.html">Error - 404</a></li>
                            </ul>
                        </li><!--.dropdown-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown">Features <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="element.html">Elements</a></li>
                                <li><a href="home-soon.html">Coming Soon</a></li>
                            </ul>
                        </li><!--.dropdown-->
                         <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;">
                    	<a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu animated fadeInUp">
                            <li id="dropdownForm">
                            	<div class="dropdown-form">
                                	<form class=" form-inline">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="search...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-theme-bg" type="button">Go!</button>
                                            </span>
                                        </div><!--input group-->
                                    </form><!--form-->
                                </div><!--.dropdown form-->
                            </li><!--.drop form search-->
                        </ul><!--.drop menu-->
                	</li><!--nav search form-->
                    </ul><!--navbar-right for navbar-left replace class with navbar-left-->
                </div><!--/.nav-collapse -->
            </div><!--.container-->
        </div><!--.navbar-default-->