<div class="col-sm-4 margin20 mix design ">
                           <a href="portfolio-single.html">
                                    <div class="item-img-wrap">
                                        <img src="img/work-1.png" class="img-responsive" alt="workimg">
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link-->
                                <div class="work-desc">
                                    <i class="fa fa-twitter"></i>
                                    <h5><a href="#">Project Name</a></h5>
                                </div><!--work desc-->
                        </div><!--work col-->